<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight selecting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>
<body>

    <div>
        <h3>Choose you action: </h3>
    </div>

    <form action="/admin/showAllFlights">
    <input type="submit" value="Show all flights" />
    </form>

    <form action="/admin/showAllUsers">
        <input type="submit" value="Show all users" />
    </form>

    <form action="/admin/registerNewFlight">
        <input type="submit" value="Register new flight" />
    </form>

    <form action="/admin/showStatistics">
        <input type="submit" value="Show flight statistics by dates" />
    </form>

    <form action="/logout">
    <input type="submit" value="Sign Out" />
    </form>
    
    
	

</body>
</html>