<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight selecting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>
<body>

    <div>
        <h2>Hello in our page! </h2>
        <h3>Choose you action: </h3>
    </div>

    <form action="/guest/showFlightSelectingPage">
        <input type="submit" value="Search flights" />
    </form>

    <!--<form action=" ">-->
    <!--<input type="submit" value="Another action" />-->
    <!--</form>-->

</body>
</html>