<html xmlns:th="http://www.thymeLeaf.org">
	<body >
		<form action="#" th:action = "@{/admin/register}" th:object= "${registeredUser}" method="post"> <!-- jasakrit ar controlieri objekts -->
			
			
			<table>
				<tr> <!-- this is a row -->
					<td>Insert username</td>
					<td> <input type="text" th:field="*{username}"> </td> <!-- ievada txt -->
					<td th:if= "${#fields.hasErrors('username')}" th:errors="*{username}"> </td> <!-- validation part -->
				</tr>
				
				<tr> 
					<td>Insert password</td>
					<td> <input type="text" th:field="*{password}"> </td>
					<td th:if= "${#fields.hasErrors('password')}" th:errors="*{password}"> 
				</tr>
				
				<tr>
					<td>Insert Name</td>
					<td> <input type="text" th:field="*{name}"> </td> 
					<td th:if= "${#fields.hasErrors('name')}" th:errors="*{name}"> </td>
				</tr>
				
				<tr>
					<td>Insert Surname</td>
					<td> <input type="text" th:field="*{surname}"> </td> 
					<td th:if= "${#fields.hasErrors('surname')}" th:errors="*{surname}"> </td>
				</tr>
				
				<tr>
					<td>Insert Email</td>
					<td> <input type="text" th:field="*{email}"> </td> 
					<td th:if= "${#fields.hasErrors('email')}" th:errors="*{email}"> </td>
				</tr>
				
				<tr>
					<td>Insert ExtraPoints</td>
					<td> <input type="text" th:field="*{Extra_points}"> </td> 
					<td th:if= "${#fields.hasErrors('Extra_points')}" th:errors="*{Extra_points}"> </td>
				</tr>
				
				<tr>
					<td>IsVIP</td>
					<td> <input type="checkbox" th:field="*{VIP}"> </td> 
					<td th:if= "${#fields.hasErrors('VIP')}" th:errors="*{VIP}"> </td>
				</tr>
				
				
			</table>
			
			<input type="submit"> <!-- when we press submit we call automaticly post method -->
			
		</form>
	
	
	</body>


</html>