<html xmlns:th="http://www.thymeleaf.org">
<body>
    <form action="#" th:action="@{/admin/registerNewFlight}" th:object="${flight}" method="post">
        <table>
            <tr>
                <td> Please insert date: </td>
                <td> <input type="date" th:field="*{creationDateTime}"> </td>
                <!--<td th:if="${#fields.hasErrors('creationDateTime')}" th:errors="*{creationDateTime}"></td>-->
            </tr>

            <tr>
                <td> Please insert duration: </td>
                <td> <input type="number" min="0" th:field="*{duration}"> </td>
                <td th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></td>
            </tr>

        </table>


            <p> Please insert AirportFrom: </p>
            <select name = "airportFrom">
                <option th:each="airportFrom : ${T(com.example.demo.models.enums.AirportList).values()}"
                        th:value = "${airportFrom}" th:text="${airportFrom}">
                </option>
            </select>



            <p> Please insert AirportTo: </p>
            <select name = "airportTo">
                <option th:each="airportTo : ${T(com.example.demo.models.enums.AirportList).values()}"
                        th:value = "${airportTo}" th:text="${airportTo}">
                </option>
            </select>


        <input type="submit">
    </form>
</body>
</html>