<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight selecting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>
<body>
    <div>
        <h3>Select airports: </h3>
    </div>

    <form action="#" th:action="@{/guest/showFlightSelectingPage}" th:object="${flight}" method="post">

        <table class="table table-bordered">

            <tr>
                <label >Select airport FROM</label>
                <select name = "airportFrom">
                    <option th:each="airportFrom : ${T(com.example.demo.models.enums.AirportList).values()}"
                            th:value = "${airportFrom}" th:text="${airportFrom}">
                    </option>
                </select>
            </tr>


            <tr>
                <label >Select airport TO</label>
                <select name = "airportTo">
                    <option th:each="airportTo : ${T(com.example.demo.models.enums.AirportList).values()}"
                            th:value = "${airportTo}" th:text="${airportTo}">
                    </option>
                </select>
            </tr>
        </table>

        <input type="submit">
    </form>
    <div class="backButton">
        <a class="buttons" href="/guest" role="button">BACK TO MAIN PAGE</a>
    </div>
</body>
</html>